.sidebar-container {
    background-color: rgba(31, 41, 55, 1);
    height: 90vh;
    position: sticky;
    top: 10px;
    margin-top: 10px;
    left: 10px;
    padding: 1rem;
    border-radius: 5px;
    overflow-y: auto;
}

.sidebar-filter-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-filter-date p,
.sidebar-filter-gender p {
    color: orange;
    font-size: 20px;
}

.sidebar-filter-date label {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar-filter-date div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sidebar-filter-date div input {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ced4da;
    font-size: 16px;
    border-radius: 5px;
}

.sidebar-container .header-logo {
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8)
}

.sidebar-container .header-logo span {
    font-size: 25px;
    color: orange;
}

.sidebar-container .sidebar-filter-gender {
    color: rgba(255, 255, 255, 0.8);
}

.sidebar-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}

.sidebar-buttons .button-primary {
    width: 100%;
}

.sidebar-buttons .button-secondary {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .phone-btn {
        display: none;
    }
}